
<section class="gioi-thieu mt-4 mb-4">
  <title>Giới thiệu</title>
  <div class="container" ng-controller="all">
    <h3 class="text-center">
      <b>CÔNG TY TRÁCH NHIỆM HỮU HẠN UNIQLO</b>
    </h3>
    <hr />
    <p>
      Uniqlo, thương hiệu thời trang đến từ xứ sở hoa anh đào đã khiến các nhà
      bán lẻ quần áo trên toàn thế giới phải “ngả mũ” thán phục. <br />
      <br />
      Trong một thập kỷ qua, Uniqlo đã phát triển nhanh chóng và trở thành nhà
      bán lẻ thời trang lớn nhất châu Á. Tuy nhiên, không dừng lại ở đó, tham
      vọng của Uniqlo còn lớn hơn thế nữa, đó là trở thành thương hiệu dẫn đầu
      trong lĩnh vực bán lẻ thời trang trên khắp thế giới, theo tờ The Wall
      Street Journal. <br /><br />
      Uniqlo tập trung vào việc sản xuất hàng loạt các sản phẩm thời trang với
      mẫu mã và màu sắc cơ bản, phù hợp với nhiều khách hàng ở mọi lứa tuổi và
      tầng lớp trong xã hội. Chỉ 20 năm trước đây, từ những cửa hàng thời trang
      khiêm tốn trên các đường phố đông đúc ở Nhật Bản, giờ đây, thương hiệu này
      đã có những vị trí nhất định trên các đại lộ thời trang khắp thế giới.
      <br /><br />
    </p>

    <h5><b>Từ Unique thành Uniqlo</b></h5>
    Năm 1984, công ty may mặc Ogori Shoji đã mở một cửa hàng quần áo tại
    Hiroshima, Nhật Bản, gọi là “Unique Clothing Warehouse”. Sau đó, công ty này
    quyết định đăng ký tên thương hiệu dưới tên gọi “Uni-Clo”, từ tên “Unique
    Clothing”. <br />
    <br />
    <div class="row">
      <img src="../../assets/img/gioi-thieu/gioi-thieu.jpg" alt="" />
    </div>
    <br />Tuy nhiên, đến năm 1988, nhân viên phụ trách cửa hàng này đã hiểu sai
    chữ “C” và “Q” là một, và viết lại tên cửa hàng thành “Uniqlo”. Từ đó tên
    cửa hàng này được đổi thành “Uniqlo”. Chỉ 10 năm sau khi mở cửa hàng đầu
    tiên, cái tên Uniqlo đã trở nên vô cùng phổ biến ở Nhật Bản với hơn 100 cửa
    hàng trên khắp cả nước. <br /><br />
    Với phong cách thời trang giản dị và giá thành bình dân, Uniqlo được ưa
    chuộng trên khắp nước Nhật. Đặc biệt, những năm 1990, nền kinh tế Nhật Bản
    suy thoái nghiêm trọng, thương hiệu thời trang bình dân Uniqlo trở thành lựa
    chọn số 1 của người dân xứ hoa anh đào vào thời điểm đó.
    <br /><br />
    Bằng cách thuê gia công tại những nước đang phát triển, Uniqlo giảm được tối
    đa chi phí sản xuất, do đó có được giá thành vô cùng cạnh tranh trên thị
    trường. Sự kết hợp giữa hàng may mặc chất lượng tốt với giá thành bình dân
    đã giúp Uniqlo chiếm được “trái tim” của phần lớn người tiêu dùng tại Nhật.
    Uniqlo chính là giải pháp hữu hiệu giúp người dân Nhật cắt giảm chi phí tiêu
    dùng trong giai đoạn tài chính khó khăn.
    <br /><br />Năm 2000, thương hiệu Uniqlo thành công đến mức đã bán được hơn
    60 triệu sản phẩm trong một năm, khi đó, dân số của nước Nhật chỉ là 120
    triệu người. <br /><br />
    <h5><b>Thay đổi để thích ứng</b></h5>
    Sự thành công vượt bậc trong nước đẩy tham vọng của Uniqlo sang thị trường
    quốc tế. Uniqlo bắt đầu thâm nhập vào thị trường nước ngoài từ năm 2001, mở
    21 cửa hàng tại Anh và 3 cửa hàng tại Mỹ. Đa số các cửa hàng ở Anh đều có
    diện tích khiêm tốn và nằm ở vùng ngoại ô, còn các cửa hàng tại Mỹ thì nằm
    trong các khu thương mại ở New Jersey.
    <br /><br />Tuy nhiên, do rập khuôn chiến lược giống quê nhà, Uniqlo đã thất
    bại tại cả hai thị trường Anh và Mỹ. Trong vòng 5 năm đầu, Uniqlo đã buộc
    phải đóng cửa khá nhiều cửa hàng, trong đó bao gồm cả 3 cửa hàng tại New
    Jersey. Ông Shin Odake, Giám đốc điều hành thương hiệu Uniqlo tại Mỹ, cho
    biết, “Những cửa hàng này đều không hiệu quả” <br /><br />Sau khi đánh giá
    lại thất bại trong lần đầu “tiến quân” ra thị trường nước ngoài, ông Tadashi
    Yanai, nhà sáng lập Uniqlo, đã nhận ra sai lầm nằm ở địa điểm cửa hàng. Ông
    Yanai tuyên bố đảo ngược lại chiến lược thâm nhập thị trường quốc tế vào năm
    2005: Tiếp tục giữ lại các cửa hàng ngoại ô ở Nhật Bản và tập trung mở các
    cửa hàng mới tại trung tâm các thành phố lớn ở mỗi châu lục. <br /><br />Ông
    Yanai đầu tư một đội ngũ sáng tạo để tái tạo lại thương hiệu này tại thị
    trường nước ngoài. Và Uniqlo đã bắt đầu lại hành trình chinh phục thị trường
    quốc tế của mình, bắt đầu từ thành phố hoa lệ New Y <br /><br />
    Uniqlo nhanh chóng thay đổi và chuyển mình. Uniqlo đã thiết kế lại cửa hàng
    tại khu Soho, New York trong vòng 8 tháng, với sự hỗ trợ của hơn 150 nhân
    công làm việc liên tục 12 tiếng/ngày. Cửa hàng được thiết kệ độc đáo, kích
    cỡ quần áo và chương trình quảng cáo cũng được thay đổi cho phù hợp.
    <br /><br />
    “Ở những doanh nghiệp bình thường, bạn sẽ phải tiêu tốn rất nhiều thời gian
    để nghiên cứu xem mọi thứ vận hành như thế nào. Nhưng Uniqlo không làm vậy”,
    ông Odake cho biết.
    <br /><br />
    Không phụ lòng mong đợi, doanh số của Uniqlo tốt vượt bậc tại thị trường Mỹ
    với tăng trưởng theo cấp số nhân trong 10 năm liên tục. Doanh số của Uniqlo
    đã tăng từ 2,9 tỷ USD từ năm 2006 lên đến 7,5 tỷ USD vào năm 2015. Sự thành
    công này đã mở cánh cửa mới cho hãng bán lẻ thời trang xâm chiếm toàn cầu,
    từ châu Âu đến châu Á.
    <br /><br />“Mỹ là một thị trường mà nếu hàng hóa của bạn được chấp nhận tại
    đây, bạn sẽ bán được với giá rất hời” , Chủ tịch Uniqlo nhận định.
    <br /><br />
    Sau khi thành công ở thị trường Mỹ, trọng điểm tiếp theo của Uniqlo là thị
    trường Trung Quốc và Đông Nam Á, với tầng lớp khách hàng trung lưu tại đây.
    Thương hiệu này nhận định châu Á đang có tín hiệu tăng trưởng mạnh mẽ. Năm
    2016, doanh thu từ Uniqlo International đạt 6 tỷ USD, chiếm 36,7% tổng doanh
    thu tập đoàn, chỉ thấp hơn 1 chút so với Uniqlo Japan là gần 8 tỷ USD.

    <br /><br />
  </div>
</section>
